#square{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 50px;
}
#circle{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    margin: 50px;
}
#upTriangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent green transparent;
    margin: 50px;
}
#pacman{
    margin: 50px;
}
.pacman1{
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 100px 100px 0 0;
    transform: rotate(-45deg);
    margin: -10px 0 0 0;
}
.pacman2{
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 0 0 100px 100px;
    transform: rotate(45deg);
    margin: -20px 0 0 0;
}